/* Rotación del ícono de submenú */
.rotate-icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }
  
  .sub-menu.show {
    display: block;
    transition: all 0.3s ease;
  }
  
  .sub-menu.hide {
    display: none;
  }
  